{% extends 'base.html' %}

{% block content %}

<div class="container " style="margin:105px auto">
    <div class="row">
        <div class="col-lg-6">
            <div class="sidenav position-fixed" style="width:25rem; height: 75vh;  top:48; left:30; " style="background-color:white">
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>A</h5>
                    </div>
                    <ul>
                        <li>
                            <h6><a href="/subject/architecture">Architecture</a></h6>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>B</h5>
                    </div>
                    <ul style="list-style-type:none;">
                        <li>
                            <h6><a href="/subject/biology">Biology</a></h6>
                        </li>
                        <li>
                            <h6><a href="/subject/business">Business</a></h6>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>C</h5>
                    </div>
                    <ul>
                        <li>
                            <h6><a href="/subject/computerscience">Computer Science</a></h6>
                        </li>
                        <li>
                            <h6><a href="/subject/chemistry">Chemistry</a></h6>
                        </li>
                        <li>
                            <h6><a href="/subject/criminology">Criminology</a></h6>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>D</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>E</h5>
                    </div>
                    <ul>
                        <li>
                            <h6><a href="/subject/economics">Economics</a></h6>
                        </li>
                        <li>
                            <h6><a href="/subject/engineering">Engineering</a></h6>
                        </li>
                        <li>
                            <h6><a href="/subject/english">English</a></h6>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>F</h5>
                    </div>
                    <ul>
                        <li>
                            <h6>Film studies</h6>
                        </li>
                        <li>
                            <h6><a href="/subject/french">French</a></h6>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>G</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>H</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>I</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>J</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>K</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>L</h5>
                    </div>
                    <ul>
                        <li>
                            <a href="">Law</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>M</h5>
                    </div>
                    <ul>
                        <li>
                            <h6><a href="/subject/mathematics">Mathematics</a></h6>
                        </li>
                        <li>
                            <h6><a href="/subject/media">Media</a></h6>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>N</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>O</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>P</h5>
                    </div>
                    <ul>
                        <li>
                            <h6><a href="/subject/psychology">Psychology</a></h6>
                        </li>
                        <li>
                            <h6><a href="/subject/physics">Physics</a></h6>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>Q</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>R</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>S</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>T</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>W</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>U</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>X</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>Y</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="alphatitle sticky-top">
                        <h5>Z</h5>
                    </div>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>

            </div>
        
        </div>
        <div class="col-lg-6">            
            
            {% for post in posts reversed %}
            {% if post.subject == pk %}
           
            
            
            <div class="card mb-3"
                    style="max-width: 30rem; height:30rem; background-color: white; box-shadow: 1.1px 1.1px rgb(210, 210, 210); ">

                    <div class="card-header" style="background-color:rgb(251, 251, 251); ">
                        {% if post.privacy == 'hide' %}
                        Anonymous{% else %}
                        <a href="/profile/{{post.user}}"
                            style="text-decoration:none; color:black;">@{{post.user}}</a>{% endif %}


                        {% if post.user == userpost %}
                        <div class="float-right">
                            <a href="/deletepost?post_id={{post.id}}" class="iconstyle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>


                            </a>
                        </div>
                        {% endif %}

                    </div>
                    <div class="confession card-body">
                        <h5 class="card-title" style="word-break: break-word">{{post.confession}}</h5>
                    </div>
                    <div class="card-footer" style="background-color:rgb(251,251,251);">
                        <div>

                            <form action="" style="padding:0; margin:0;">
                                {%csrf_token%}
                                <div class="d-inline-flex">
                                    <button value="{{post.id}}"
                                        class="likebtn btn btn-link text-dark p-0 border-0 btn-outline-light"
                                        id="{{post.id}}icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                                            class="bi bi-heart" viewBox="0 0 16 16">
                                            <path
                                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                        </svg>
                                    </button>

                                    <div>
                                        <p style="margin:0 10px;" id="{{post.id}}count">
                                            {% if post.likes == 0 %}

                                            {% elif post.likes == 1 %}
                                            {{post.likes}} like
                                            {% else %}
                                            {{post.likes}} likes
                                            {% endif %}
                                        </p>


                                    </div>

                                </div>
                                <div class="float-right">
                                    {{ post.created_at }}
                                </div>
                            </form>




                        </div>

                    </div>

                </div>
            {% endif %}
            {% endfor %}
            
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        
            $('#'+$('.likebtn').val() + 'icon').innerHTML = 'heart'
      
    });

    $(document).on('click', '.likebtn', function (e) {

        e.preventDefault();
        $.ajax({

            type: 'POST',
            url: '{% url "confessionsapp:like" %}',
            postid: $(this).val(),
            data: {
                postid: $(this).val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]')
                    .val(),
                action: 'post'
            },
            success: function (json) {

                //document.getElementById(this.postid + 'icon').innerHTML = json['heart']



                if (json['result'] == 1) {

                    document.getElementById(this.postid + 'count').innerHTML = json['result'] +
                        ' like'

                } else if (json['result'] == 0) {
                    document.getElementById(this.postid + 'count').innerHTML = ''

                } else {
                    document.getElementById(this.postid + 'count').innerHTML = json['result'] +
                        ' likes'
                }

            },
            error: function (xhr, errmsg, err) {}


        });
    });
</script>
{% endblock %}