{% extends 'base.html' %}

{% block content %}
    <div class="sitemap  " style="max-width:25rem; height: 100vh; margin:57px auto 0 auto; ">
        <div>
            <div class="sticky-top" style="background-color: white;
            padding:3px; ">
                <h5 style="padding:3px 0 5px 8px ;">A</h5>
            </div>
            <ul>
                <li>
                    <h6><a href="/subject/architecture">Architecture</a></h6>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>B</h5>
            </div>
            <ul style="list-style-type:none;">
                <li>
                    <h6><a href="/subject/biology">Biology</a></h6>
                </li>
                <li>
                    <h6><a href="/subject/business">Business</a></h6>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>C</h5>
            </div>
            <ul>
                <li>
                    <h6><a href="/subject/civilengineering">Civil Engineering</a></h6>
                </li>
                <li>
                    <h6><a href="/subject/computerscience">Computer Science</a></h6>
                </li>
                <li>
                    <h6><a href="/subject/chemistry">Chemistry</a></h6>
                </li>
                <li>
                    <h6><a href="/subject/criminology">Criminology</a></h6>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>D</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>E</h5>
            </div>
            <ul>
                <li>
                    <h6><a href="/subject/economics">Economics</a></h6>
                </li>
                <li>
                    <h6><a href="/subject/engineering">Engineering</a></h6>
                </li>
                <li>
                    <h6><a href="/subject/english">English</a></h6>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>F</h5>
            </div>
            <ul>
                <li>
                    <h6>Film studies</h6>
                </li>
                <li>
                    <h6><a href="/subject/french">French</a></h6>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>G</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>H</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>I</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>J</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>K</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>L</h5>
            </div>
            <ul>
                <li>
                    <a href="">Law</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>M</h5>
            </div>
            <ul>
                <li>
                    <h6><a href="/subject/mathematics">Mathematics</a></h6>
                </li>
                <li>
                    <h6><a href="/subject/media">Media</a></h6>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>N</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>O</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>P</h5>
            </div>
            <ul>
                <li>
                    <h6><a href="/subject/psychology">Psychology</a></h6>
                </li>
                <li>
                    <h6><a href="/subject/physics">Physics</a></h6>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>Q</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>R</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>S</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>T</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>W</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>U</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>X</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>Y</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
        <div>
            <div class="alphatitle sticky-top">
                <h5>Z</h5>
            </div>
            <ul>
                <li>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}